$website-width: 1280px;
$main-color: #7F5539;
$light-color: #B08968;
$dark-color: #333;
$medium-color: #ccc;
$bg-image: url('../img/bandstudio.jpeg');
$secondary-font: 'Montserrat';
$main-font: 'Dosis', sans-serif;
$drop-shadow: 10px 10px 30px rgb(29, 28, 28);
$background-color: #e3e3e3;
$border-size: 2px;