* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

// .container {
//     // max-width: $website-width;
//     padding: 0 1.5rem;
//     margin: auto;
//     overflow: hidden;
// }