@import 'config';
@import 'utilities';

body{
    font-family: $main-font;
    line-height: 1.6;
    background: $main-color;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    background: rgba(0,0,0,0.2);
    padding-left: 2em;
    backdrop-filter: blur(8px);
    font-size: 1.2em;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: #E07A5F;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $medium-color;
            color: rgb(233, 218, 218);
            transition: 0.5s;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

#header {
    // Header home
    &-home {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),$bg-image no-repeat center right / cover;
        height: 100vh;
        color: #fff;
    

    // Header content
        .header-content {
            text-align: center;
            backdrop-filter: blur(4px);
            margin: 20px;
            border: solid white;
            margin: 50px;
            padding: 1.3em;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }
}
.donkeys {
    color: rgb(173, 163, 163);
}

.newalbum {
    color: #fff;
    text-align: center;
    font-size: 1.2em;

    a {
        color: #fff;
    }
}

.album {
    background: $main-color;
    color: #fff;
    display: flex;
    margin: 3em 4em 3em 4em;
    font-family: $secondary-font;
    flex-wrap: wrap;
}

.albumcover {
    background: url('../img/dingle2.jpeg');
    background-size: cover;
    height: 350px;
    width: 350px;
    padding: 2em;
    margin: 2em;
    box-shadow: $drop-shadow;
}
    
.bandname {
    font-family: 'Kiwi Maru', serif;
    letter-spacing: .5em;
}

.line {
    border: 1px solid white;
    display: flex;
    padding: 7em;
}

.dingle {
    font-family: 'Kiwi Maru', serif;
    padding-top: .3em;
    font-size: 1.2em;
}
    
.albumblurb {
text-align: center;
padding: 2em;
margin: 2em;
font-size: 1.3em;

    h2 {
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 1.2em;
        padding-top: .5em;
    }

    #line2 {
        border: 2px solid white;
        display: flex;
        margin: auto;
    }


}

.btn1 {
    height: 100px;
    background: $dark-color;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 $light-color;
    font-size: 2rem;
    position: relative;
    padding: .5em;
    transition: .3s;

    a {
        color: #fff;
    }

    &:hover {
        background: rgb(37, 36, 36); 
    }
}



.interact {
    display: grid;
    grid-template-columns: repeat(auto-fill,4,1fr);
    grid-auto-rows: 400px 400px;
    grid-gap: 10px;
    background: #fff;
    padding: 2em;
    grid-auto-flow: dense;

    a {
        color: #fff;

        &:hover {
            color: $dark-color;
        }
    }

}

.gallery-container {
    box-shadow: $drop-shadow;  
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .interact-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.gallery-item .interact-image img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.gallery-item:hover .interact-image img {
    transform:scale(1.5);
    transition: .5s ease-in-out;
}


.gallery-item .text {
    position: absolute;
    font-size: 3em;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 1.3rem 2rem 1.3rem 2rem;
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,0.4);
  }

  #band {
      background: #000;
  }

  .cards {
    padding: 3rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    filter: grayscale(1);
}

.img1 {
background-image: url('../img/squirt.jpeg');
}

.img2 {
    background-image: url('../img/drummer.jpeg');
}

.img3 {
    background-image: url('../img/monkey.jpeg');
}

.img4 {
    background-image: url('../img/esquire.png');
}

.bandheading {
    text-align: center;
    font-family: $main-font;
    padding: 2rem 0 1rem 0;
    color: #fff;
    background: #000;
}

.cards {
    border: 1px solid #fff;
}

.card {
    background: #000;
    color: #fff;
    display: flex;
    flex: 1 0 300px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 2px 14px rgba(#262631, 0.4);
    max-width: 450px;
    
 
}

.card_content {
    padding: 1rem;
}

.card .card_image {
    flex: 0 0 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.card_title {
    letter-spacing: .3rem;
    padding-bottom: .3rem;
}

.card_snippet {

}



.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}

.w-4 {
    grid-column: span 4;
}

.h-2 {
    grid-row: span 2;
}

.h-3 {
    grid-row: span 3;
}

.h-4 {
    grid-row: span 4;
}

.h-5 {
    grid-row: span 5;
}



.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}

.w-4 {
    grid-column: span 4;
}

.w-5 {
    grid-column: span 5;
}

.w-6{
    grid-column: span 6;
}


// TOUR PAGE


.tourbody {
    background: url('../img/field.jpeg');
    color: #fff;
}

.tourheader {
    font-size: 2em;
}

main {
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(1.5px);
}

.tourdates {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}


// about page //

.aboutbody {
    background: $dark-color;
}

.about {
    border: 3px solid white;
    padding: 1.5em;
    backdrop-filter: blur(3px);
    background: rgba(0,0,0,0.4)
}

.aboutheader {
    background: url('../img/aboutimg.jpeg');
    color: #ffff;
    padding: 10em;
    text-align: center;
    background-size: cover;
    background-position: center center;
}

.reviews {
    background: rgb(145, 138, 138);

    h1 {
        text-align: center;
        padding-top: 1.3em;
        font-size: 2em;
    }
}

.separator {
    border-bottom: 2px solid #fff;
    margin-left: 200px;
    margin-right: 200px;
    padding: 1em 0 1em 0;
}

.quotewrapper {
    
    display: flex;
    padding: 1.4em;

}

.blurb {
    font-size: 1.5em;
    color: #fff;
    padding: 2em;
}

.quote {
    padding: 1.5em;
    flex: 1 0 100px;
    text-align: center;

}




// footer //

footer {
    line-height: 1.6;
    height: 450px;
}

.contact-container {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
    
    & > *{
        padding: 1em;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

.labelinfo {
    text-align: center;
    background: $main-color;
    font-size: 1.5em;
    margin: 0 0 1rem 0;
    span {
        color: #fff;
    }
}

footer {
    font-family: $main-font;
    background: #fff;
    height: 500px;
    
}

.contact {
    background: $dark-color;
    height: 100%;
    h3 {
        font-size: 3em;
        text-align: center;
        color: #fff;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        font-size: 1.4em;
        color: #fff;

        label {
            display: block;
        }

        p {
            margin: 0;
        }

        .full {
            grid-column: 1/3;
        }

        button, input, textarea {
            width: 95%;
            padding: 1em;
            border: 1px solid black;
        }

        button {
            background: gray;
            color: #fff;
            border: 0;
            text-transform: uppercase;
            padding: 2em;
            
            a {
                color: #fff;
            }

            &:hover, &:focus {
                background: rgb(37, 36, 36);
                outline: 0;
                transition: background-color .5s ease-out;
            }
        }

    }
}

//music page //

.musicbody {
    background: $dark-color;
}

.musicheader {
    background: url('../img/musicbg.jpeg');
    color: #ffff;
    padding: 10em;
    text-align: center;
    background-size: cover;
    background-position: center center;

}

.albums {
    
    h1 {
        text-align: center;
        color: #fff;
        font-size: 3em;
    }
}

.covers {
    display: flex;
    flex-wrap: wrap;
}

.cover {
    background-size: cover;
    padding: 2em;
    margin: 2em;
    box-shadow: $drop-shadow;
    color: #fff;
    height: 350px;
    width: 350px;
    font-size: 1.4em;
}
.cover1 {
    background: url('../img/hand.jpeg');
    background-position: center;
}

.cover2wrapper {
    background: linear-gradient(90deg, #000 50%, rgba(0,0,0,0.2));
    backdrop-filter: blur(4px);
    width: 100%;
}

.cover2 {
    background: url('../img/models.jpeg');
    color: rgb(145, 130, 130);
}

.cover3 {
    background: url('../img/dingle2.jpeg');
}

.albumtitle {
    font-size: 1.4em;
}

.albumline{
    color: #fff;
    height: 10px;
    border-bottom: 2px solid white;
}

@media(min-width: 700px){
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}